.error-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.error-wrapper .title {
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

.error-wrapper .info {
  font-size: 14px;
}

.home-btn, 
.home-btn:focus, 
.home-btn:hover, 
.home-btn:visited {
  text-decoration: none;
  font-size: 14px;
  color: #55aa29;
  padding: 17px 77px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin: 20px 0;
  width: max-content;
  background-color: transparent;
  outline: 0;
}

.man-icon {
  background: url('https://www.hotstar.com/assets/b5e748831c911ca02f9c07afc11f2ae5.svg') center;
  background: no-repeat;
  display: inline-block;
  height: 100px;
  width: 118px;
  margin-bottom: 16px;
}

.navbar-brand{
  display: flex !important;
  align-items: center !important;
  
}

.card-width{
  margin: 45px;
  padding: 25px;
}

.page-image{
  background: linear-gradient(#00000080, #00000080), url('./images/image_1.PNG');
  width: 100% ;
  height: 400px;
  margin: 1000;
  padding: 100;
  display: flex;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.brand-image{
  background: url('./images/image_4.jpg');
  height: 35px;
  width: 50px;
}

.login-form {
  width: 340px;
  margin: 0px auto;
  font-size: 15px;
  position: absolute;
  left: 40%;
  top: 20%;
 }

 .form{
  margin-bottom: 15px;
  background: #dddada;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 50;
 }

 .login-form form {
  margin-bottom: 15px;
  background: #dddada;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  display: flex;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}



